<div class="box-wrapper person-info-wrapper">
    <div class="person-item" style="top: auto; bottom:0; left:0; right: 0; width: 100%;">
        <div class="str-list-wrapper">
            <ng-container *ngFor="let str of structureService.toolbarStructuresList;">
                <div class="str-item" [ngClass]="[str.CategoryStructureTitle + '-str', str.CategoryStructureAcronym + '-str']">
                    <span class="str-name">{{str.CategoryStructureTitle}}</span>
                    <span class="str-num">{{service.SchedulingProgDetailList|structureCounting:str.CategoryStructureID:personelInfo.PersonID}}</span>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngFor="let personSetting of personelSetting">
        <div class="person-item item-{{personSetting.Name}}" [ngStyle]="setStyle(personSetting.Style)">
            <!-- img types -->
            <ng-container *ngIf="personSetting.Type == 'img'">
                <ng-container *ngIf="personelInfo[personSetting.Name] != ''">
                    <img [src]="personelInfo[personSetting.Name]" alt="" style="width:100%;height:100%;">
                </ng-container>
                <ng-container *ngIf="personelInfo[personSetting.Name] == ''">
                    <img [src]="imageDefult" alt="" style="width:100%;height:100%;">
                </ng-container>
            </ng-container>

            <!-- label or int types -->
            <ng-container *ngIf="personSetting.Type == 'label' || personSetting.Type == 'int'">
                <ng-container *ngIf="isObject(personelInfo[personSetting.Name])">
                        <span>{{personelInfo[personSetting.Name].name}}</span>
                </ng-container>
                <ng-container *ngIf="!isObject(personelInfo[personSetting.Name])">
                        <span>{{personelInfo[personSetting.Name]}}</span>
                </ng-container>                
            </ng-container>

            <!-- label or int types -->
        </div>
    </ng-container>
</div>