$fixed_width : 200px;
$header_height : 40px;
$footer_height : 80px;

$box-height:80px;
$box-width:200px;
$box-row-total:3;
$box-column-total:4;

$monthly-day-box-width:50px;

$handle-width:20px;

$str-item-height:16px;

/* colors /////////////////////////////////////// */
$purple:#bc03db;
$blue:#0078de;
$green:#0ea407;
$red:crimson;
$darkblue:darkblue;

$danger-color:$red;
$info-color:$darkblue;

$message-bg-color:#ebd025;
$message-color:#714826;

$holiday-bg-color:#eb6f6f;
$holiday-color:white;

//structure color
$m-str-bg-color:#4a90e2;

$e-str-bg-color:#f5a623;

$n-str-bg-color:#7e1f9f;

$message-totip-color:#ebb000;


